# Helm
charts/
Chart.lock
*.tgz

# Secrets
*.key
*.pem
secrets/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Binaries
cli/cluster-bootstrap

# Sops
age-key.txt
repo-ssh-key.pem
.env
test_secrets/*
.sops-test.yaml

# MkDocs
site/
venv

# Node
node_modules/

# Git Crypt
git-crypt-key
