kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      replicas: 2
      retention: 6h
      resources:
        requests:
          cpu: 500m
          memory: 1Gi
        limits:
          memory: 2Gi

  prometheus-node-exporter:
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        memory: 128Mi

  kube-state-metrics:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        memory: 512Mi
