kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      replicas: 1
      retention: 4h
      resources:
        requests:
          cpu: 200m
          memory: 512Mi
        limits:
          memory: 1Gi

  prometheus-node-exporter:
    resources:
      requests:
        cpu: 20m
        memory: 32Mi
      limits:
        memory: 64Mi

  kube-state-metrics:
    resources:
      requests:
        cpu: 20m
        memory: 64Mi
      limits:
        memory: 256Mi
