name: Release

on:
  push:
    branches: ["main"]

permissions:
  contents: write
  issues: write
  pull-requests: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  release:
    if: github.repository == 'user-cube/cluster-bootstrap'
    runs-on: ubuntu-latest
    outputs:
      new-release: ${{ steps.semantic.outputs.new_release_published }}
      version: ${{ steps.semantic.outputs.new_release_version }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: "24"

      - uses: actions/create-github-app-token@v2
        id: app
        with:
          app-id: ${{ secrets.DEVOPS_BUDDY_APP_ID }}
          private-key: ${{ secrets.DEVOPS_BUDDY_PRIVATE_KEY }}

      - id: semantic
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ steps.app.outputs.token }}

  goreleaser:
    if: github.repository == 'user-cube/cluster-bootstrap' && needs.release.outputs.new-release == 'true'
    runs-on: ubuntu-latest
    needs: release
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: v${{ needs.release.outputs.version }}

      - uses: actions/setup-go@v6
        with:
          go-version-file: cli/go.mod
          cache-dependency-path: cli/go.sum

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GORELEASER_CURRENT_TAG: v${{ needs.release.outputs.version }}

  docs-build:
    runs-on: ubuntu-latest
    needs: release
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - run: pip install mkdocs-material

      - run: mkdocs build

      - uses: actions/configure-pages@v5

      - uses: actions/upload-pages-artifact@v4
        with:
          path: site/

  docs-deploy:
    runs-on: ubuntu-latest
    needs: docs-build
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
